<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>
    <script>
        function saveBook() {
            const savedBookContainer = document.getElementById("saved-book")
            const idInput = document.getElementById("id-input")
            const titleInput = document.getElementById("title-input")
            const authorSelect = document.getElementById("authors-select")
            const genresSelect = document.getElementById("genres-select")
            const author = {
                id: authorSelect.value
            }
            const genre = {
                id: genresSelect.value
            }
            const book = {
                title: titleInput.value,
                id: idInput == null ? 0 : idInput.value,
                author: author,
                genre: genre
            }
            fetch("/books", {
                method: book.id == 0 ? 'POST' : 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(rawResponse => rawResponse.json())
                .then(json => savedBookContainer.innerHTML = JSON.stringify(json, null, 4))
        }
    </script>
</head>
<body>

<h3>Saved book:</h3>
<pre id="saved-book"></pre>

<form action="edit.html" id="edit-form" th:method="post" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row" th:if="${book.id>0}">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" readonly="readonly" th:value="*{id}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" th:value="*{title}" type="text" value=""/>
        <div class="errors" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Wrong book title error</div>
    </div>

    <label for="authors-select">Choose author:</label>
    <div class="row">
        <select id="authors-select" name="authors" th:field="*{author.id}">
            <option th:each="author : ${authors}" th:text="${author.fullName}" th:value="${author.id}" value="1L">
                А.С.Пушкин
            </option>
        </select>
        <div class="errors" th:errors="*{author}" th:if="${#fields.hasErrors('author')}">Wrong genre name error</div>
    </div>

    <label for="genres-select">Choose genre:</label>
    <div class="row">
        <select id="genres-select" name="genres" th:field="*{genre.id}">
            <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}" value="1L">
                Сказки
            </option>
        </select>
        <div class="errors" th:errors="*{genre}" th:if="${#fields.hasErrors('genre')}">Wrong genre name error</div>
    </div>

    <div class="row">
        <button type="button" onclick="saveBook()">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button">Go to book list</button>
        </a>
    </div>
</form>

</body>
</html>
